.about {
    
    

    .trade {
        
        &__info {
            max-width: 470px;
            display: block;
            span {
                font-family: $fontMontserrat;
                font-size: 22px;
                color: #2C4058;
                text-transform: uppercase;
                text-align: left;
            }
            h4 {
                font-family: $fontMontserrat;
                font-size: 44px;
                font-weight: 700;
                color: #2C4058;
                text-transform: uppercase;
                margin-bottom: 19px;
                text-align: left;
            }
            p {
                font-family: $fontOpenSans;
                font-size: 18px;
                color: #2C4058;
                margin-bottom: 40px;
                line-height: 30px;
                text-align: left;

            }
            button {
                border: 1px solid #2C4058;
                padding: 16px 41px;
                font-family: $fontMontserrat;
                font-size: 14px;
                background-color: transparent;
                cursor: pointer;
                margin-bottom: 60px;
            }
            .contacts {
                display: flex;
                .icon {
                    width: 9px;
                    height: 17px;
                    margin-right: 10px;
                }
                .contacts-info {
                    font-family: $fontOpenSans;
                    font-style: italic;
                    font-size: 15px;
                    color: #000;
                    font-weight: 400;
                }
            }
        }
    }

    .commerce {
        &__images {
            .back-photo {
                position: absolute;
                z-index: -1;
                top: -57px;
                right: -215px;
                max-width: 585px;
                height: 470px;
                width: 100%;
            }
            .main-photo {
                max-width: 630px;
                height: 470px;
                width: 100%;
            }
        }

        &__info {
            max-width: 470px;
            margin-right: 64px;
            display: block;
            span {
                font-family: $fontMontserrat;
                font-size: 22px;
                color: #2C4058;
                text-transform: uppercase;
                text-align: left;
            }
            h4 {
                font-family: $fontMontserrat;
                font-size: 44px;
                font-weight: 700;
                color: #2C4058;
                text-transform: uppercase;
                margin-bottom: 19px;
                text-align: left;
            }
            p {
                font-family: $fontOpenSans;
                font-size: 18px;
                color: #2C4058;
                margin-bottom: 40px;
                line-height: 30px;
                text-align: left;
            }
            button {
                border: 1px solid #2C4058;
                padding: 16px 41px;
                font-family: $fontMontserrat;
                font-size: 14px;
                background-color: transparent;
                cursor: pointer;
                margin-bottom: 60px;
            }
            .contacts {
                display: flex;
                .icon {
                    width: 9px;
                    height: 17px;
                    margin-right: 10px;
                }
                .contacts-info {
                    font-family: $fontOpenSans;
                    font-style: italic;
                    font-size: 15px;
                    color: #000;
                    font-weight: 400;
                }
            }
        }
    }
}