.news {
    

    

    &__list {

        .news__list-item { 
        
            .item-info {

                .text {

                    h4 {

                        font-size: 22px;
                        line-height: 27px;
                    }
                    p {
                        font-size: 18px;
                        margin-bottom: 39px;
                        line-height: 25px;
                    }
                }

                .item-person {
                    .person-info {
                        display: flex;
                        flex-direction: column;
                        .name {
                            font-size: 18px;
                        }
                        .date {
                            font-size: 14px;
                        }
    
                    }
                }
            }
        }
    }
}