.about {
    padding-top: 100px;
    padding-bottom: 150px;

    

    &__title {
        
        font-size: 44px;
        margin-bottom: 147px;
    }

    .trade {
        
        margin-bottom: 177px;

        &__info {
            
            h4 {
                
                font-size: 44px;
                
            }
            
            
            
        }
    }

    .commerce {
        
        

        &__info {
            
            
            h4 {
                
                font-size: 44px;
                
            }
            
        }
    }
}